<!DOCTYPE html>

<html>
<head>
 <title></title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/Student/listestudent.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/Student/Bootstrap listestudent.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/Student/Bootstrap2 listestudent.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/Table/Tablecss.css') }}">
    <script src="/static/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/static/lib/jquery/Table/Tablejquery.js"></script>
</head>

<body>


<h2>Table with search</h2>
<table class="table table-striped  table-hover " id="myTable">
  <thead>
    <tr>
        <th>ID</th>
        <th>Prenom</th>
        <th>Nom</th>
        <th>Date de naissance</th>
        <th>Age</th>
        <th>Adresse</th>
        <th>Numéro de téléphone </th>
        <th>Numéro de téléphone 2</th>
        <th>Adresse mail</th>
        <th>Adresse mail 2</th>
        <th>Nombre d'heures de cours</th>
        <th>Frere ou soeur</th>
        <th>Remarque médical</th>
        <th>Ville</th>
        <th>Code postal</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
     {% for row in eleve %}
            <tr>
                <td>{{row.eleve_id}}</td>
                <td>{{row.eleve_prenom}}</td>
                <td>{{row.eleve_nom}}</td>
                <td>{{row.eleve_datenaissance.strftime('%d-%m-%y')}}</td>
                <td>{{row.eleve_age}}</td>
                <td>{{row.eleve_adresse}}</td>
                <td>{{row.eleve_GSM}}</td>
                <td>{{row.eleve_fixe}}</td>
                <td>{{row.eleve_mail}}</td>
                <td>{{row.eleve_mail2}}</td>
                <td>{{row.eleve_heure}}</td>
                {% if row.eleve_freresoeur == '1' %}
                    <td>Oui</td>
                {% else %}
                    <td>Non</td>
                {% endif %}
                <td>{{row.eleve_medic}}</td>
                <td>{{row.Ville.ville_nom}}</td>
                <td>{{row.Ville.ville_CP}}</td>
                <td> <form action="{{ url_for('studentview_blueprint.coursbystudent') }}" method="post">
                    <input value="{{row.eleve_id}}" name="id"type="hidden">
                    <input type="submit" value="Voir les cours"></form>
                    <form action="{{ url_for('studentview_blueprint.instudent') }}" method="post">
                    <input value="{{row.eleve_id}}" name="id"type="hidden">
                    <input type="submit" value="Réactiver student"></form>
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>
</body>
</html>