<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'lib/calendrierjs/main.css') }}">
     <script src="{{ url_for('static', filename = 'lib/calendrierjs/main.js') }}"></script>
    <div id='calendar' style="width: 35%; display: inline-block;"></div>
</head>
<body>
    <div id='calendar' style="width: 10%;  display: inline-block;"></div>
    <script>
        let calendarE1 = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar
        (calendarE1,{
            locale: 'fr',
            eventSources: {
            url: '{{ url_for('costume_blueprint.callcal') }}',
                method: 'POST',
                extraParams: {
        custom_param1: 'test'
      },
    },

            eventColor: '#ff0404',

  })

        calendar.render();

    </script>
<input id="" type="radio" name="option-0" value="{{option.costume_taille}}" data-value="{{option.costume_id}}"  checked  />
                      <label for="{{option.costume_id}}">
                      {{option.costume_taille}}
                    </label>
</body>
</html>