<!DOCTYPE html>
<html>
<head>
 <title></title>
</head>
<body>
<style>

 td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
      }
</style>


<table>
  <thead>
    <tr>
        <th>ID</th>
        <th>Nom </th>
        <th>Prenom</th>
        <th>numcontact</th>
         <th>mail</th>
        <th>datenaissance</th>
        <th>Action</th>


    </tr>
    </thead>
    <tbody>
     {% for row in profs %}
            <tr>
                <td>{{row.prof_id}}</td>
                <td>{{row.prof_nom}}</td>
                <td>{{row.prof_prenom}}</td>
                <td>{{row.prof_numcontact}}</td>
                <td>{{row.prof_mail}}</td>
                <td>{{row.prof_datenaissance}}</td>
                <td>
                    <form action="{{ url_for('profview_blueprint.coursbyprof') }}" method="post">
                    <input value="{{row.prof_id}}" name="id"type="hidden">
                    <input type="submit" value="Voir les cours"></form>
                    <form action="{{ url_for('profview_blueprint.inprofesseur') }}" method="post">
                    <input value="{{row.prof_id}}" name="id"type="hidden">
                    <input type="submit" value="Réactiver professeur"></form>
                </td>
        {% endfor %}
    </tr>
    </tbody>
</table>
</body>
</html>