<!DOCTYPE html>
<html>
<head>
 <title></title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/Prof/listeprof.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/Student/Bootstrap listestudent.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/Student/Bootstrap2 listestudent.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/Table/Tablecss.css') }}">
    <script src="/static/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/static/lib/jquery/Table/Tablejquery.js"></script>
</head>
<body>

<form action="{{ url_for('profview_blueprint.oldprofesseur') }}" method="post">
                    <input type="submit" value="Archive"></form>


<h2>Table with search</h2>
<table class="table table-striped  table-hover " id="myTable">
  <thead>
    <tr>
        <th>ID</th>
        <th>Nom </th>
        <th>Prenom</th>
        <th>numcontact</th>
         <th>mail</th>
        <th>datenaissance</th>
        <th>Action</th>


    </tr>
    </thead>
    <tbody>
     {% for row in profs %}
            <tr>
                <td>{{row.prof_id}}</td>
                <td>{{row.prof_nom}}</td>
                <td>{{row.prof_prenom}}</td>
                <td>{{row.prof_numcontact}}</td>
                <td>{{row.prof_mail}}</td>
                <td>{{row.prof_datenaissance}}</td>
                <td>
                    <form action="{{ url_for('profview_blueprint.coursbyprof') }}" method="post">
                    <input value="{{row.prof_id}}" name="id"type="hidden">
                    <input type="submit" value="Voir les cours"></form>
                    <form action="{{ url_for('profview_blueprint.profupdate') }}" method="post">
                    <input value="{{row.prof_id}}" name="id"type="hidden">
                    <input type="submit" value="Modifier Professeur"></form>
                     <form action="{{ url_for('profview_blueprint.outprofesseur') }}" method="post">
                    <input value="{{row.prof_id}}" name="id"type="hidden">
                    <input type="submit" value="Désactiver professeur"></form>
                </td>
        {% endfor %}
    </tr>
    </tbody>
</table>
</body>
</html>