<!DOCTYPE html>
<html>
<head>
 <title></title>
</head>
<body>
<style>

 td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
      }
</style>



<table>
  <thead>
    <tr>
        <th>ID</th>
        <th>Nom cours</th>
        <th>Cours temps</th>
        <th>Cours jour</th>
        <th>Action</th>

    </tr>
    </thead>
    <tbody>
     {% for row in cours %}
            <tr>
                <td>{{row.Cours_id}}</td>
                <td>{{row.Cours_nom}}</td>
                <td>{{row.Cours_temps}}</td>
                <td>{{row.Cours_jours}}</td>
                <td> <form action="{{ url_for('coursview_blueprint.studentbycours') }}" method="post">
                    <input value="{{row.Cours_id}}" name="id"type="hidden">
                    <input type="submit" value="Voir détails du cour"></form>
                    <form action="{{ url_for('coursview_blueprint.courupdate') }}" method="post">
                    <input value="{{row.Cours_id}}" name="id"type="hidden">
                    <input type="submit" value="Modifier cour"></form>
                    <form action="{{ url_for('coursview_blueprint.studentbycours_pdf') }}" method="post">
                    <input value="{{row.Cours_id}}" name="id"type="hidden">
                    <input type="submit" value="Génerer fiche de présence"></form>
                </td>
        {% endfor %}
    </tr>
    </tbody>
</table>
</body>
</html>