<!DOCTYPE html>
<html>
<head>
 <title></title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/Cour/listecours.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/Student/Bootstrap listestudent.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/Student/Bootstrap2 listestudent.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/Table/Tablecss.css') }}">
    <script src="/static/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/static/lib/jquery/Table/Tablejquery.js"></script>
</head>
<script>
    $(document).ready(function() {
  $('#myTable').DataTable({
        language: {
            url: '/static/lib/jquery/Table/tablefrench.json'
        }
    } );
  });
</script>
<body>

<h2>Table with search</h2>
<table class="table table-striped  table-hover " id="myTable">

  <thead>
    <tr>
        <th>ID</th>
        <th>Nom cours</th>
        <th>Cours temps</th>
        <th>Cours jour</th>
        <th>Action</th>

    </tr>
    </thead>
    <tbody>
     {% for row in cours %}
            <tr>
                <td>{{row.Cours_id}}</td>
                <td>{{row.Cours_nom}}</td>
                <td>{{row.Cours_temps}}</td>
                <td>{{row.Cours_jours}}</td>
                <td> <form action="{{ url_for('coursview_blueprint.studentbycours') }}" method="post">
                    <input value="{{row.Cours_id}}" name="id"type="hidden">
                    <input type="submit" value="Voir détails du cour"></form>
                    <form action="{{ url_for('coursview_blueprint.courupdate') }}" method="post">
                    <input value="{{row.Cours_id}}" name="id"type="hidden">
                    <input type="submit" value="Modifier cour"></form>
                    <form action="{{ url_for('coursview_blueprint.studentbycours_pdf') }}" method="post">
                    <input value="{{row.Cours_id}}" name="id"type="hidden">
                    <input type="submit" value="Génerer fiche de présence"></form>
                    <form action="{{ url_for('coursview_blueprint.outcour') }}" method="post">
                    <input value="{{row.Cours_id}}" name="id"type="hidden">
                    <input type="submit" value="Désactiver cour"></form>
                </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>